
diffusers

en-core-web-sm
en-core-web-trf
imutils

mask-rcnn==2.1
nltk
matplotlib
openai
pipreqs==0.5.0
Pillow
pixellib
pyspellchecker
python-dotenv
rembg
transformers
tensorflow
torch
torchaudio
torchvision
ultralytics
opencv-python
onnxruntime

