
diffusers

en-core-web-sm
en-core-web-trf
imutils


nltk
matplotlib
openai
pipreqs
Pillow
pixellib
pyspellchecker
python-dotenv
rembg
transformers
tensorflow
torch
torchaudio
torchvision
ultralytics
opencv-python
onnxruntime

